<%= form_with model: post, data: { controller: :location } do |form| %>
  <div class="container">
    <div class="form-control">
      <% if @post.errors.any? %>
        <ul>
          <% @post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="mb-2">
        <%= form.label :category, style: "display: block" %>
        <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
      </div>
      <div class="mb-2">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>
      <div class="mb-2">
        <%= form.label :content %>
        <%= form.text_area :content %>
      </div>
      <div>
        <%= form.file_field :image %>
      </div>
      <div>
        <%= form.label :address_region_id %>
        <%= form.collection_select :address_region_id,
                                   Address::Region.all, :id, :name,
                                   { prompt: 'Select Region' },
                                   data: { location_target: 'selectedRegionId', action: 'change->location#fetchProvinces' }
        %>
      </div>
      <div>
        <%= form.label :address_province_id %>
        <%= form.collection_select :address_province_id, [], nil, nil,
                                   { prompt: 'Select Province/District' },
                                   data: { location_target: 'selectProvinceId', action: 'change->location#fetchCityMunicipalities' } %>
      </div>
      <div>
        <%= form.label :address_city_municipality_id %>
        <%= form.collection_select :address_city_municipality_id, [], nil, nil,
                                   { prompt: 'Select City/Municipality' },
                                   data: { location_target: 'selectCityMunicipalityId', action: 'change->location#fetchBarangays' } %>
      </div>
      <div>
        <%= form.label :address_barangay_id %>
        <%= form.collection_select :address_barangay_id, [], nil, nil,
                                   { prompt: 'Select Brgy' },
                                   data: { location_target: 'selectBarangayId' } %>
      </div>
      <%= form.submit %>
    </div>
  </div>
<% end %>