<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>


      <header>
        <nav class="navbar navbar-light bg-light ">
          <div class="container-fluid">
            <a class="navbar-brand">Disaste&#x1D19; Info</a>
            <ul class="nav">
              <li class="nav-item"><a href="https://www.google.com/" > Home&nbsp&nbsp </a></li>
              <li class="nav-item"><a href="#" target="_blank"> Contact&nbsp&nbsp  </a></li>
              <li class="nav-item"><a href="../home/about" > About Us&nbsp&nbsp </a></li>
            </ul>
          </div>
        </nav>
      </header>

  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
