<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>


      <header>
        <nav class="navbar navbar-light bg-light ">
          <div class="container-fluid">
            <a class="navbar-brand">Disaste&#x1D19; Info</a>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <%= link_to "Home", root_path, class: "btn btn-primary" %></li>
                <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
                <%= link_to "Login", new_user_session_path, class: "btn btn-primary" unless user_signed_in?  %></li>
              <%= button_to "Log Out", destroy_user_session_path,  method: :delete, class: "btn btn-primary" if user_signed_in?%>
             </li>
            </ul>
          </div>
        </nav>
      </header>

  </head>




  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


    <%= yield %>
  </body>

  <footer class="page-footer font-small blue pt-4">

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a> <%= link_to 'DisasteR Info', root_path  %></a>
    </div>

  </footer>

</html>